/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: forestgreen;
    color: white;
    padding: 20px;
    text-align: center;
}

    header h1 {
        margin: 0;
    }

nav ul {
    list-style-type: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

            nav ul li a:hover {
                text-decoration: underline;
            }

/* Main Content */
main {
    padding: 20px;
}

h2 {
    color: #2d3b2f;
}

section {
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #2d3b2f;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
